@page
@model WebBankApplication.Pages.CustomersModel
@{
    ViewData["Title"] = "Customers";
}

<div class="text-center">
    <!-- Add this inside your text-center div -->
    <div class="search-container">
        <form asp-page="~/Sections/CustomerViews/Customers" method="get">
            <input type="text" placeholder="Search by name or city" name="search">
            <button type="submit">Search</button>
        </form>
    </div>


    <h1 class="display-4">Customer Information</h1>

    <table class="table">
        <thead class="header-table">
            <tr>
                <th>Customer ID</th>
                <th>Name</th>
                <th>Country</th>
                <th>City</th>
                <th>Birthday</th>
                <!-- Add other customer properties as needed -->
            </tr>
        </thead>
        <tbody>
            @if (Model.PageListView.Customer.Any())
            {
                @foreach (var customer in Model.PageListView.Customer)
                {
                    <tr>
                        <td>@customer.CustomerId</td>
                        <td>@customer.Givenname @customer.Surname</td>
                        <td>@customer.Country</td>
                        <td>@customer.City</td>
                        <td>@customer.Birthday</td>
                        <!-- Add other customer properties as needed -->
                        <td><a asp-page="/Sections/CustomerViews/CustomerDetails" asp-route-customerId="@customer.CustomerId">View Details</a></td>

                    </tr>

                }
            }
            else
            {
                <tr>
                    <td colspan="6"><h6 class="mt-5 text-center">Record not Found</h6></td>
                </tr>
            }

        </tbody>
    </table>

    <!-- Pagination links -->

    <div class="container">
        @for (int i = 1; i <= Model.PageListView.Customer.PageCount; i++)
        {
            if (i == Model.PageListView.Customer.PageNumber)
            {
                <span class="btn btn-primary">@i</span>
            }
            else
            {
                <a href="?page=@i" class="btn btn-outline-primary">@i</a>
            }
        }
    </div>

</div>